@model FridgyKeyApp.Models.AddFridgeViewModel

@{
    ViewData["Title"] = "Add";
}

<h2>Add</h2>

<h4>AddFridgeViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        @using (Html.BeginForm("Add", "UserFridge", FormMethod.Post))
    {
        @Html.ValidationSummary(true) <p />
            @ViewBag.IsAccess<p/>
        <div class="form-group">
            @Html.LabelFor(m => m.Id)
            @Html.EditorFor(m => m.Id)
            @Html.ValidationMessageFor(m => m.Id)
        </div><p />
        <div class="form-group">
            @Html.LabelFor(m => m.PasswordHash)
            @Html.EditorFor(m => m.PasswordHash)
            @Html.ValidationMessageFor(m => m.PasswordHash)
        </div><p /> 
        <div class="form-group">
            <input type="submit" value="Save" class="btn btn-default" />
        </div>
}
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

