@model UserFridgeViewModel
@{
    ViewData["Title"] = "Index";
}

<h2>My Fridges</h2>
<a href="/UserFridge/Add" class="btn btn-default">[AddFridge]</a><p/>
<a href="/Fridge/Create" class="btn btn-default">[CreateFridge]</a><p/>
@*<form asp-controller="Fridge" asp-action="OpenFridge">*@
    <div>
        <table class="table-striped" style="width:100%">
            <thead>
                <tr class="text-center"> 
                    <th class="text-center">FridgeName</th>
                    <th class="text-center">Description</th>
                    <th class="text-center">DateCreate</th> 
                </tr>
            </thead>

            <tbody>
                @for (int i = 0; i < Model.fridges.Count(); i++)
    {  
                    @Html.HiddenFor(m => m.fridges[i].Id)
                    @Html.HiddenFor(m => m.fridges[i].Name) 
                    @Html.HiddenFor(m => m.fridges[i].Description)
                    @Html.HiddenFor(m => m.fridges[i].DateCreate)                  
                <tr class="text-center">
                    <td><a href="/Fridge/Open/@Model.fridges[i].Id">@Model.fridges[i].Name</a></td>
                    <td>@Model.fridges[i].Description</td>
                    <td>@Model.fridges[i].DateCreate</td>
                    <td><a href="/Fridge/Open/@Model.fridges[i].Id" class="btn btn-default" > [Open]</a> 
                     <a href="/UserFridge/Edit/@Model.fridges[i].Id" class="btn btn-default"  > [Edit]</a></td>
                </tr>

}
            </tbody>
            </table>
</div>
@*</form>*@

