@model FridgyKeyApp.Models.OneFridgeProductViewModel

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>OneFridgeProductViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4"><div class="col-md-4">
    @using (Html.BeginForm("Create", "FridgeProduct", FormMethod.Post))
    {
        @Html.ValidationSummary(true)

        @Html.HiddenFor(m => m.Id)
        @Html.HiddenFor(m => m.FridgeId)
        @Html.HiddenFor(m => m.ProductId)
        @Html.HiddenFor(m => m.UserId)

        <div class="form-group">
            @Html.LabelFor(m => m.Name)
            @Html.DropDownListFor(m => m.Name, ViewBag.ProductName as SelectList, new { @class = "form-control", id = "NameProductOrder" })
            @Html.ValidationMessageFor(m => m.Name)
        </div><p />
        <div class="form-group">
            @Html.LabelFor(m => m.Amount)
            @Html.EditorFor(m => m.Amount)
            @Html.ValidationMessageFor(m => m.Amount)
        </div><p />
        <div class="form-group">
            @Html.LabelFor(m => m.EI)
            @Html.EditorFor(m => m.EI)
            @Html.ValidationMessageFor(m => m.EI)
        </div><p />
        <div class="form-group">
            @Html.LabelFor(m => m.DateValid)
            @Html.EditorFor(m => m.DateValid)
            @Html.ValidationMessageFor(m => m.DateValid)
        </div><p />
        <div class="form-group">
            @Html.LabelFor(m => m.Price)
            @Html.EditorFor(m => m.Price)
            @Html.ValidationMessageFor(m => m.Price)
        </div><p />
        <div class="form-group">
            @Html.LabelFor(m => m.Description)
            @Html.EditorFor(m => m.Description)
            @Html.ValidationMessageFor(m => m.Description)
        </div><p /> 
        <div class="form-group">
            <input type="submit" value="Save" class="btn btn-default" />
        </div>
    }
</div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

