@model ProductInfoViewModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit Product Info</h2>

<h4>Product</h4>
<hr />
<div class="row">
    <div class="col-md-4">

        @using (Html.BeginForm("Edit", "Product", FormMethod.Post))
    {
        @Html.ValidationSummary(true)

        @Html.HiddenFor(m => m.Id)
        @Html.HiddenFor(m => m.ProductId) 
        @Html.HiddenFor(m => m.UserId)

        <div class="form-group">
            @Html.LabelFor(m => m.Name)
            @Html.EditorFor(m => m.Name)
            @Html.ValidationMessageFor(m => m.Name)
        </div><p />
        <div class="form-group">
            @Html.LabelFor(m => m.Description)
            @Html.EditorFor(m => m.Description)
            @Html.ValidationMessageFor(m => m.Description)
        </div><p />
        <div class="form-group">
            @Html.LabelFor(m => m.Fat)
            @Html.EditorFor(m => m.Fat)
            @Html.ValidationMessageFor(m => m.Fat)
        </div><p />
        <div class="form-group">
            @Html.LabelFor(m => m.Carb)
            @Html.EditorFor(m => m.Carb)
            @Html.ValidationMessageFor(m => m.Carb)
        </div><p />
        <div class="form-group">
            @Html.LabelFor(m => m.Protein)
            @Html.EditorFor(m => m.Protein)
            @Html.ValidationMessageFor(m => m.Protein)
        </div><p />
        <div class="form-group">
            @Html.LabelFor(m => m.Kkal)
            @Html.EditorFor(m => m.Kkal)
            @Html.ValidationMessageFor(m => m.Kkal)
        </div><p />
        <div class="form-group">
            @Html.LabelFor(m => m.ImgURL)
            @Html.EditorFor(m => m.ImgURL)
            @Html.ValidationMessageFor(m => m.ImgURL)
        </div><p />
        <div class="form-group">
            <input type="submit" value="Save" class="btn btn-default" />
        </div>
}}
    </div>
</div>

<div>
    <a href="/Product/Index">[Back to List (Product)]</a> 
</div>

