@model List<ProductInfo>
@{
    ViewData["Title"] = "Index";
}
<h2>Products</h2>

<h4>Products</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <a href="/Product/Create">[CreateProduct]</a><p/>
        <table class="table-striped" style="width:100%">
            <thead>
                <tr>
                    <th class="text-center">Image</th>
                    <th class="text-center">Name</th>
                    <th class="text-center">f/c/p</th>
                    <th class="text-center">kkal</th> 
                </tr>
            </thead> 

            <tbody>
                @for (int i = 0; i < Model.Count; i++)
                {
                    <tr>
                        <td><img src="@Model[i].Product.ImgURL" height="100"/></td>
                        <td><a href="/Product/Show/@Model[i].Product.Id">@Model[i].Product.Name</a></td> 
                        <td><a href="/User/Show/@Model[i].Product.User.Id">@Model[i].Product.User.UserName</a></td>
                        <td>@Model[i].Fat / @Model[i].Carb / @Model[i].Protein</td>
                        <td>@Model[i].Kkal</td> 
                        <td><a href="/Product/Edit/@Model[i].Product.Id">[Edit]</a><p/><a href="/Product/Delete/@Model[i].Product.Id">[Delete]</a></td>
                    </tr>
                }
            </tbody>
        </table>
         
    </div> 
</div>

