@model FK.Models.ProductInfo

@{
    ViewData["Title"] = "Show Product";
}

<h2>Product Info</h2>

<h4>Fridge</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        @Html.HiddenFor(m => m.Id)
        @Html.HiddenFor(m => m.Product)

        @Html.HiddenFor(m => m.Product.Id)
        @Html.HiddenFor(m => m.Product.UserId)
        <div class="form-group">
            <img src="@Model.Product.ImgURL" height="250" /><p />
            <label asp-for="Product.Name" class="control-label"></label>
            @Html.DisplayFor(m => m.Product.Name)
        </div>
        <div class="form-group">
            <label asp-for="Product.Description" class="control-label"></label>
            @Html.DisplayFor(m => m.Product.Description)
        </div>
        <div class="form-group">
            <b>Kkal: </b> @Model.Kkal<p />
            <b>f/c/p: </b> @Model.Fat / @Model.Carb / @Model.Protein <p />
        </div>
        <div class="form-group">
            <a href="/Product/Edit/@Model.Product.Id">[Edit]</a><p />
            <a href="Product/Delete/@Model.Product.Id">[Delete]</a>
        </div>
    </div>
</div>

<div>
    <a asp-action="Index" asp-controller="UserFridge">Back to List</a>
</div>

