@model ProductInfoViewModel

@{
    ViewData["Title"] = "Show Product";
}

<h2>Product Info</h2>

<h4>Fridge</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        @Html.HiddenFor(m => m.Id)
        @Html.HiddenFor(m => m.ProductId)         
        @Html.HiddenFor(m => m.UserId)

        <div class="form-group">
            <img src="@Model.ImgURL" height="250" /><p />
            @Html.LabelFor(m => m.Name)
         @Html.DisplayFor(m => m.Name)

        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Description)
         @Html.DisplayFor(m => m.Description)

        </div>
        <div class="form-group">
            <b>Kkal: </b> @Model.Kkal<p />
            <b>f/c/p: </b> @Model.Fat / @Model.Carb / @Model.Protein <p />
        </div>
        <div class="form-group">
            <a href="/Product/Edit/@Model.ProductId">[Edit]</a><p />
            <a href="Product/Delete/@Model.ProductId">[Delete]</a>
        </div>
    </div>
</div>

<div>
    <a href="/UserFridge/Index">[Back to List (MyFridge)]</a><p /> 
</div>

