@model FridgeProductViewModel

@{
    ViewData["Title"] = "Open";
}

<h2>My fridge</h2>

<h4>Fridge</h4>
<a href="/FridgeProduct/Create/@ViewBag.FridgeId" class="btn">[CreateFridgeProduct]</a><p/>
<hr />
<div class="row">
    <div>
        @using (Html.BeginForm("EditProducts", "Fridge"))
    {
        @Html.HiddenFor(m => m.products)
        <table class="table-striped" style="width:100%">
            <thead>
                <tr class="text-center">
                    <th class="text-center">Product</th>
                    <th class="text-center">Amount</th>
                    <th class="text-center">EI</th>
                    <th class="text-center">Owner</th>
                    <th class="text-center">Price</th>
                    <th class="text-center">DateBuy</th>
                    <th class="text-center">DateValid</th>
                </tr>
            </thead>

            <tbody>
                @for (int i = 0; i < Model.products.Count; i++)
            {
                <tr class="text-center">
                    <td><a href="/Product/Show/@Model.products[i].Product.Id">@Model.products[i].Product.Name</a></td>
                    <td>@Html.EditorFor(m => m.products[i].Amount)</td>
                    <td>@Html.EditorFor(m => m.products[i].EI)</td>
                    <td><a href="/User/Show/@Model.products[i].User.Id">@Model.products[i].User.UserName</a></td>
                    <td>@Model.products[i].Price</td>
                    <td>@Model.products[i].DateBuy</td>
                    <td>@Model.products[i].DateValid</td>
                </tr>
        }
            </tbody>
        </table>
}



        <p/>
        @using (Html.BeginForm("AddSticker", "Sticker"))
        {
        @Html.HiddenFor(m => m.stickers)
        <table class="table-striped" style="width:100%">
            <thead>
                <tr>
                    <th class="text-center">User</th>
                    <th class="text-center">Text</th>
                    <th class="text-center">Date</th>
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < Model.stickers.Count; i++)
            {
                <tr>
                    <td><a href="/Product/Show/@Model.stickers[i].UserId">@Model.stickers[i].User.UserName</a></td>
                    <td>@Model.stickers[i].Text</td>
                    <td>@Model.stickers[i].DateAdd</td>
                </tr>
                }
                @*<tr>
                <td>@Html.EditorFor(m => m.stickers[].Text)</td>
                <td><a asp-action="Send" asp-controller="Sticker">[Send]</a></td>  //???
                </tr>*@
            </tbody>

        </table>
        }
    </div> 
    <a asp-action="EditAsync" asp-controller="Fridge">Save Changes</a>
    <a asp-action="Index" asp-controller="UserFridge">Back to List</a>
</div>

