@model FK.Models.Fridge

@{
    ViewData["Title"] = "Open";
}

<h2>My fridge</h2>

<h4>Fridge</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <table class="table-striped" style="width:100%">
            <thead>
                <tr>
                    <th class="text-center">Product</th>
                    <th class="text-center">Amount</th>
                    <th class="text-center">Owner</th>
                    <th class="text-center">Price</th>
                    <th class="text-center">DateBuy</th>
                    <th class="text-center">DateValid</th>
                </tr>
            </thead>

            <tbody>
                @*@for (int i = 0; i < Model.FridgeProducts.Count; i++)
                {
                    @Html.EditorFor(m=>m.FridgeProducts[i].)
                }*@

        
                @foreach (FridgeProduct prod in Model.FridgeProducts)
                {
            <tr>

                <td><a href="/Product/Show/@prod.Product.Id">@prod.Product.Name</a></td>
                @*<td><input asp-for=""</td>*@
                <td>@prod.Amount @prod.EI</td>
                <td><a href="/User/Show/@prod.User.Id">@prod.User.UserName</a></td>
                <td>@prod.Price</td>
                <td>@prod.DateBuy</td>
                <td>@prod.DateValid</td>
            </tr>
                }
                @Html.HiddenFor(m => m.FridgeProducts)
            </tbody>
        </table> 

</div> 
    <a asp-action="Edit" asp-controller="Fridge">Save Changes</a>
    <a asp-action="Index" asp-controller="UserFridge">Back to List</a>
</div>

